# AI
.codex
.orchestrator
.specify

# Editor
.vscode

# Language Specifics

## JavaScript/TypeScript
node_modules

## Python
__pycache__
.ruff_cache
.venv

## Rust
target
debug
release
*.rs.bk
*.rlib
*.prof*
.idea/

# System
.DS_Store

# General Ignores
*.bak
.env*
*.log
.env
tmp
